#boxDetalles{
    width: 100%;
    height: 100vh;
    display: flex;
}
/*SECTION DE IMAGENES*/
#box-carrousel{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/imgSobreMi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.darkBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0000008c;
}

/*ESTILOS PARA EL CAROUSER DE IMAGENES*/
.carousel {
    position: relative;
    width: 50%;/* Ancho del carrusel */
    max-width: 400px;/* Ancho máximo del carrusel */
    overflow: hidden;
    margin-top: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*estos son los estilos que se van a ir agregando y quitanto en la parte de js para que aparezca o no la imagen*/
.slide {
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}
/*aqui personalizamos los botones de next y prev*/
.prev-btn, .next-btn {
    position: absolute;
    background-color: #007bff00;
    top: 50%;
    border: 0;
    padding: 0;
    cursor: pointer;
    appearance: none;
    transition: 0.3s;
}

.prev-btn:hover, .next-btn:hover {
    top: 49%;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
/*estos indicadores mostraran en que imagen se encuentra*/
.carousel-indicators {
    display: flex;
    position: relative;
    z-index: 5;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: #E859D9;
}
/*SECTION DEL TEXTO DE DETALLE*/
#box-detalle{
    width: 50%;
    background-image: url(./img/fondo_servicios_5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*estilo del titulo*/
.title{
    width: 100%;
    position: relative;
    margin-top: 100px;
    padding: 30px 0;
    text-align: center;
    background-color: #0000008c;
}
.title p{
    font-size: 24px;
    margin: 0;
    bottom: -5px;
    right: 40%;
    position: absolute;
    color: white;         
    font-family: "Playwrite US Trad", cursive;
}
.title h2{
    font-size: 40px;
    top: 0px;
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-transform: uppercase;
    font-weight: 900;
}
/*estilo del texto de detalle*/
.box-detalle-texto{
    width: 45%;
    background-color: white;
    margin: 70px auto;
    border-radius: 20px;
    padding: 5px 44px 15px;
}
.box-detalle-texto h2{
    font-weight: 900;
}
.box-detalle-texto h4{
    color: #E859D9;         
    font-family: "Playwrite US Trad", cursive;
}
/*SECTION AGENDAR TURNO*/
#reservaTurno{
    width: 100%;
    background-color: #74019C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.agenda{
    display: flex;
    margin: 50px 0 20px;
    text-align: center;
    color: white;
}
.agenda h2{
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}
.agenda h4{
    color: #E859D9;        
    margin: 0 0 20px 0; 
    font-weight: 200;
    font-family: "Playwrite US Trad", cursive;
}
.agenda p{
    font-weight: 100;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.902);
}
button{
    background-color: #EF0483;
    padding: 12px 25px;
    border: none;
    border-radius: 22px;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
button:hover{
    background-color: #E859D9;
    color: rgb(5, 5, 5);
}
.box-vector-detalles{
    background-color: #EF0483;
    padding: 10px;
    margin: 5px;
    transition: 0.3s;
    border-radius: 40px;
}
.box-vector-detalles:hover{
    background-color: #E859D9;
    color: rgb(5, 5, 5);
}
.box-vector-detalles img{
    width: 30px;
    height: 30px;
}
.container-vectores-detalles{
    display: flex;
    margin-bottom: 20px;
}